:root {
    --section-bottom-margin: 20px;
}

.page-body {
    display: grid;
    grid-template-columns: 70vw;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.nav-bar {
    border-bottom: 5px solid black;
    font-size: 1.5rem;
}

.nav-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    list-style-type: none;
}

.nav-bar ul li a {
    text-decoration: none;
    padding: 2vh;
}

.nav-bar ul li a:hover {
    background-color: black;
    color: azure;
}

.article-list-container {
    margin-top: 20px;
}

.articleList-singleArticleBody a {
    text-decoration: none;
    font-weight: bold;
}

.articleList-singleArticleBody p {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 3px solid black;
}

.articlePage-article-section {
    margin-bottom: var(--section-bottom-margin);
}

.comments-list-section {
    margin-bottom: var(--section-bottom-margin);
}

.comment-container {
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 3px;
}

.comment-container .comment-user {
    font-weight: bold;
}

.comment-container .comment-text {
    margin-left: 10px;
}

.upvote-section {
    display: flex;
    column-gap: 2%;
}

.upvote-section button {
    background-color: black;
    color: white;
    transition-delay: 100ms;
    border-radius: 5px;
    font-weight: 700;
}

.upvote-section button:hover {
    background-color: greenyellow;
    color: black;
}

.add-comment-section {
    display: grid;
    row-gap: 10px;
    margin-bottom: var(--section-bottom-margin);
}

.property-value-container {
    display: grid;
    grid-template-columns: 50%;
}

.property-value-container input,
textarea {
    border: 3px solid black;
    border-radius: 5px;
}

#add-comment-button {
    border-radius: 5px;
    width: 50%;
    height: 30px;
    background-color: black;
    color: white;
    font-weight: 700;
}

#add-comment-button:hover {
    background-color: greenyellow;
    color: black;
}
